body{
margin:0;
padding:0;
font-family:Arial,Helvetica,sans-serif;
}

.home-container{

height:100vh;

background:#0E9F6E;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.logo{

width:130px;

height:130px;

border-radius:50%;

background:white;

display:flex;

justify-content:center;

align-items:center;

font-size:60px;

font-weight:bold;

color:#2563EB;

box-shadow:0 0 20px rgba(0,0,0,.2);

}

.title{

color:white;

font-size:45px;

margin-top:20px;

}

.subtitle{

color:white;

font-size:18px;

margin-bottom:40px;

}

.button-container{

display:flex;

flex-direction:column;

width:300px;

}

.register-btn{

background:#16A34A;

color:white;

padding:15px;

border:none;

border-radius:10px;

font-size:20px;

margin-bottom:20px;

cursor:pointer;

}

.login-btn{

background:#2563EB;

color:white;

padding:15px;

border:none;

border-radius:10px;

font-size:20px;

cursor:pointer;

}

footer{

position:absolute;

bottom:20px;

color:white;

}
