body{

margin:0;

padding:0;

font-family:Arial;

}

.login-container{

height:100vh;

background:#0E9F6E;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

h1{

color:white;

font-size:45px;

margin-bottom:30px;

}

input{

width:320px;

padding:15px;

margin:10px;

border-radius:10px;

border:none;

background:white;

font-size:16px;

}

.showPassword{

display:flex;

align-items:center;

color:white;

margin-top:10px;

}

.showPassword input{

width:20px;

margin-right:10px;

}

.forgot{

color:white;

cursor:pointer;

margin-top:15px;

}

.submitButton{

width:320px;

padding:15px;

background:#2563EB;

color:white;

font-size:20px;

border:none;

border-radius:10px;

margin-top:25px;

cursor:pointer;

}

.submitButton:hover{

background:#1E40AF;

}
