body{

margin:0;

padding:0;

font-family:Arial;

}

register-page{

background:#0E9F6E;

height:100vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}

h1{

color:white;

font-size:40px;

margin-bottom:20px;

}

.already{

color:black;

font-size:18px;

margin-bottom:20px;

}

.login{

background:#2563EB;

color:white;

border:none;

padding:10px 20px;

margin-left:10px;

border-radius:8px;

cursor:pointer;

}

input{

width:320px;

padding:15px;

margin:10px;

border:none;

border-radius:10px;

background:white;

font-size:16px;

}

.registerButton{

width:320px;

padding:15px;

background:#16A34A;

color:white;

font-size:18px;

border:none;

border-radius:10px;

margin-top:20px;

cursor:pointer;

}

.registerButton:hover{

background:#15803D;

}
