body{

margin:0;

padding:0;

font-family:Arial;

background:#0E9F6E;

}

.dashboard{

padding:30px;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

color:white;

}

.logout{

background:#2563EB;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}

.profileCard{

background:white;

border-radius:15px;

padding:20px;

margin-top:25px;

text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.profileCard img{

width:120px;

height:120px;

}

.profileCard h2{

color:#0E9F6E;

}

.feeCard{

background:white;

margin-top:30px;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.2);

display:flex;

flex-direction:column;

}

.feeCard input{

padding:15px;

margin:10px 0;

border-radius:10px;

border:1px solid lightgray;

font-size:16px;

}

.payButton{

background:#2563EB;

color:white;

padding:15px;

border:none;

border-radius:10px;

font-size:20px;

margin-top:20px;

cursor:pointer;

}

.history{

background:white;

padding:25px;

margin-top:30px;

border-radius:15px;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#0E9F6E;

color:white;

padding:15px;

}

td{

text-align:center;

padding:15px;

border-bottom:1px solid lightgray;

}
